@model Post

@{

  IList<Comment> comments = ViewBag.Comments;

  var imgaeUrlPost = string.IsNullOrWhiteSpace(Model.ImageUrl)
      ? "/images/image_1.jpg"
      : $"/{Model.ImageUrl}";

  var imageUrlAuthor = string.IsNullOrWhiteSpace(Model.Author.ImageUrl)
      ? "/images/user-default.png"
      : $"/{Model.Author.ImageUrl}";
}

<div class="container">
  <div class="row">
    <h1>@Model.Title</h1>
    <p class="lead">
      <span>
        <i class="fa fa-user-secret"></i>
        <small class="text-secondary">
          Đăng bởi:
        </small>
        <a asp-controller="Blog"
           asp-action="Author"
           asp-route-slug="@Model.Author.UrlSlug"
           class="text-decoration-none text-info fw-semibold">
          @Model.Author.FullName
        </a>
      </span>
      &emsp;
      <span>
        <i class="fa fa-brands fa-themeisle"></i>
        <small class="text-muted">
          Chủ đề:
        </small>
        <a asp-controller="Blog"
           asp-action="Category"
           asp-route-slug="@Model.Category.UrlSlug"
           class="text-decoration-none text-info fw-semibold">
          @Model.Category.Name
        </a>
      </span>
      &emsp;
      <span>
        <i class="fa fa-solid fa-eye"></i>
        <span class="text-info fw-semibold">
          @Model.ViewCount
        </span>
      </span>
    </p>

    <hr>
    <p class="lead">
      <i class="fa fa-calendar"></i>
      @if (Model.ModifiedDate != null)
      {
        <small class="text-muted">
          Cập nhật lần cuối:
        </small>
        @Model.PostedDate.ToString()
      }
      else
      {
        <small class="text-muted">
          Ngày đăng:
        </small>
        @Model.PostedDate.ToString()
      }
    </p>
    <p class="lead">
      <i class="fa fa-tags"></i>
      <span class="text-muted">Tags:&emsp;</span>
      @if (Model.Tags.Count > 0)
      {
        <partial name="_TagList" model="@Model.Tags"></partial>
      }
      else
      {
      <p> Bài viết chưa được gắn thẻ</p>
      }
    </p>
    <hr>

    <p class="lead">@Model.ShortDescription</p>
    <img src="@imgaeUrlPost" class="img-responsive">
    <p class="pt-4">@Model.Description</p>

    <!-- ======= Comments ======= -->
    <div class="comments">
      <h5 class="comment-title py-3">
        <span>@comments.Count</span> bình luận
      </h5>

      @foreach (var comment in comments)
      {
        <div class="comment px-3">
          <div class="d-flex justify-content-between">
            <p class="align-middle m-0">
              <span class="h5">@comment.NameUserComment</span>
              <span class="text-muted">(@comment.Email)</span>
            </p>
            <p class="text-muted m-0">
              @comment.CommentedDate
            </p>
          </div>
          <div class="comment-body p-2">@comment.Content</div>
        </div>
      }

    </div><!-- End Comments -->
    <!-- ======= Comments Form ======= -->
    <form class="row justify-content-center my-5">
      <div class="col-lg-12">
        <h4 class="comment-title">Thêm bình luận</h4>
        <div class="row">
          <div class="col-lg-6 mb-3">
            <label for="comment-name">Họ và tên </label>
            <input type="text" class="form-control" id="comment-name" placeholder="Nhập họ và tên...">
          </div>
          <div class="col-lg-6 mb-3">
            <label for="comment-email">Email</label>
            <input type="text" class="form-control" id="comment-email" placeholder="Nhập email...">
          </div>
          <div class="col-12 mb-3">
            <label for="comment-message">Nội dung</label>

            <textarea class="form-control" id="comment-message" placeholder="Ví dụ: bài viết hay ..." cols="30" rows="10"></textarea>
          </div>
          <div class="d-flex col-12 justify-content-end">
            <input type="submit" class="btn btn-primary text-end" value="Gửi bình luận">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
