@model PostFilterModel
@{
  var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();
  var actionName = "Index";
  var posts = ViewBag.Posts as IPagedList<Post>;

  //if (!string.IsNullOrWhiteSpace(postQuery.AuthorSlug))
  //{
  //  actionName = "Author";
  //  slug = postQuery.AuthorSlug;
  //}
  //else if (!string.IsNullOrWhiteSpace(postQuery.CategorySlug))
  //{
  //  actionName = "Category";
  //  slug = postQuery.CategorySlug;
  //}
  //else if (!string.IsNullOrWhiteSpace(postQuery.TagSlug))
  //{
  //  actionName = "Tag";
  //  slug = postQuery.TagSlug;
  //}

  if (posts.PageCount > 1)
  {
    <div class="text-center my-4">
      @if (posts.HasPreviousPage)
      {
        <a asp-area="Admin"
     asp-controller="Posts"
     asp-action="@actionName"
     asp-route-p="@(posts.PageNumber -1)"
     asp-route-ps="@posts.PageSize"
         class="btn btn-info">
          <i class="fa fa-arrow-left"></i>
          Trang trước
        </a>
      }
      else
      {
        <button type="button"
                class="btn btn-outline-secondary"
                disabled>
          Trang trước
        </button>
      }

      @if (posts.HasNextPage)
      {
        <a asp-area="Admin"
     asp-controller="Posts"
     asp-controller="Posts"
     asp-action="@actionName"
     asp-route-p="@(posts.PageNumber + 1)"
     asp-route-ps="@posts.PageSize"
         class="btn btn-info">
          Trang sau
          <i class="fa fa-arrow-right"></i>
        </a>
      }
      else
      {
        <button type="button"
                class="btn btn-outline-secondary"
                disabled>
          Trang sau
          <i class="fa fa-arrow-right"></i>
        </button>
      }
    </div>
  }
}