@model PostFilterModel
@{
  ViewData["Title"] = "Danh sách bài viết";

  var posts = ViewBag.Posts as IPagedList<Post>;
}
<h2>
  Danh sách bài viết
</h2>

<partial name="_PostFilterPane" />

@if (posts != null && posts.Count > 0)
{
  <table id="#tbl" class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Chủ đề</th>
        <th>Xuất bản</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var post in posts)
      {
        <tr>
          <td>
            <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="Edit"
           asp-route-id="@post.Id"
               class="text-bold">
              @post.Title
            </a>
            <p class="text-muted">
              @post.ShortDescription
            </p>
          </td>
          <td>
            @post.Author.FullName
          </td>
          <td>
            @post.Category.Name
          </td>
          <td>
            <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="ToggleStatus"
           asp-route-id="@post.Id"
           asp-route-p="@posts.PageNumber"
           asp-route-ps="@posts.PageSize"
               class="btn btn-info change-status-post">
              @if (post.Published)
              {
                <span>Ẩn</span>
              }
              else
              {
                <span>Hiện</span>
              }
            </a>

            <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="Delete"
           asp-route-id="@post.Id"
           asp-route-p="@posts.PageNumber"
           asp-route-ps="@posts.PageSize"
               class="btn btn-info change-status-post"
               onclick="return confirm('Bạn có chắc chắn muốn xóa bài viết này không??')">
              Xóa
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <partial name="_Pager" model="@Model" />

}
else
{
  <h1 class="text-danget">
    Không tìm thấy bài viết nào
  </h1>
}

@*@section scripts{
  <script>
    $(function () {
      $("#tbl").on('click', '.change-status-post', function () {
        var btn = $(this), id = btn.data('id'), status = btn.data('status');
        if (confirm("Bạn có muốn thay đổi")) {
          $.post('@Url.Action("ChangeStatusPost", "Posts")/' + id + "/" + status, function (reponse) {
            console.log(reponse.message)
          })
        }
      })

    })

  </script>
}
*@